/* Layout
----------------------------------------------------------------------------------------------------*/
.wrapper {
  padding: 0 $value-1;
  position: relative;
  margin: 0 auto;
  max-width: $container;
  width: 100%;
  @include clearfix;
}

.row {
  position: relative;
  margin-left: -$value-1;
  margin-right: -$value-1;
  @include clearfix;
}

/* Grid
----------------------------------------------------------------------------------------------------*/
[class*='col-'] {
  width: 100%;
  position: relative;
  padding-left: $value-1;
  padding-right: $value-1;
  margin-bottom: $value-1;
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet-medium) {
    float: left;

    &:last-child {
      margin-bottom: $value-1;
    }
  }
}

@media screen and (min-width: $tablet-medium) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

/* Float
----------------------------------------------------------------------------------------------------*/
$direction: (
        left: left,
        right: right
);

@each $direction-name, $direction-name2 in $direction {
  .#{$direction-name} {
    float: $direction-name;
  }
}

/* Flexbox
----------------------------------------------------------------------------------------------------*/
.flex {
  @include flex;
}

.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-self-start {
  -webkit-align-self: flex-start !important;
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-center {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

.align-self-end {
  -webkit-align-self: flex-end !important;
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-items-height {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-around {
  -webkit-justify-content: space-around !important;
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.justify-content-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}