/* Media
----------------------------------------------------------------------------------------------------*/
.media {
  @include flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  img {
    margin-right: 20px;
  }

  /* Media || Body
  ----------------------------------------------------------------------------------------------------*/
  &__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}



