/* Clearfix
----------------------------------------------------------------------------------------------------*/
@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* How to use it

@include clearfix;
----------------------------------------------------------------------------------------------------*/