/* Text truncate
----------------------------------------------------------------------------------------------------*/
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* How to use it

@include text-truncate;
----------------------------------------------------------------------------------------------------*/